<h1>Album zur lektion LO
    Schreibprofi :{{username}}</h1>
<p>
    In diesem Album sind nur jene ubungen mit einem Bilchen dargestellt, die fehlerfrel geschriben wurden. Ein eingeklebtes blaues bild erhat man fur langsames und genaues schrelben.
</p>
<div class="row">
  <div class="col sm-3">
    <!-- print button -->
    <button class="btn">Drucken</button>
  </div>
  <div class="col sm-3">
      <!-- frame button -->
      <button class="btn">Rahmen</button>
    </div>
    <div class="col sm-3">
        <!-- the exercise button -->
        <button class="btn">Ubung weiderholen</button>
      </div>
      <div class="col-sm-3">
        <!-- exit lession -->
        <button class="btn">Lektion beenden</button>
      </div>
</div>