

/*.zoom-div{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30%;
}*/
.zoom-div .btn{
    position: relative;
    transition:all 1s ease-out;
}
/*.zoom-div .btn.animation{
    transform: translateY(-200px);
    width: 30%;
    height: 50px;
    font-size: 24px;
    line-height: 51px;
}*/

.btn.animation{
    line-height: 20px;
}


