.bottom-blank-white {
    height: 8vh;
    width: 60%;
}
.top-blank-white {
    height: 23vh;
    width: 60%;
}
.ex-two-two .top-blank-white, .ex-two-two .bottom-blank-white {
    width: 100%;   
}
.ex-two-two .top-blank-white{
    margin-top: 10px;
    height:46vh;
}
.ex-two-two .bottom-blank-white{
    height:18vh;
}
header.info{
    height:46%;
}
.container5.keyboard-holder{
    height:53%;
}

.ex-two-three .bottom-blank-white{
    height: 20vh;
    border-width: 15px;
    width: 100%;
    font-size: 12vh;
    line-height: 12vh;
    margin-top: 5vh;
}
.ex-two-four .top-blank-white{
    width:100%;
    height: 46vh;
    border-width:12px;
}