
	<header class="login-header">
		<div class="container-fluid">
			<h1 class="text-center">MM-Schreibtrainer</h1>
			<div class="row">
				<div class="col-md-2 text-center typing">
					<img src="../assets/images/12.gif">
					<a href="#" class="btn btn-default btn-block">
						Anmelden
					</a>
				</div>
				<div class="col-md-8">
					<p>Multimedia-Abteilung</p>
					<p> PH der Diozese Linz</p>
					<p>(c17) alois.bachinger@ph-linz.at</p>
					<p class="small">Flashplayer grober Vers. 6 notwending! (etonzto)</p>
					<p class="small version">Vers. 8.0</p>
				</div>
				<div class="col-md-2 typing">
					<img src="../assets/images/12.gif">
					<a href="#" class="btn btn-default btn-block">
						Programende
					</a>

				</div>
			</div>
		</div>
	</header>
	<div class="container2 container-fluid">
		<div class="info-text text-center">
			<p>Zum Testen kannst du den Geheimcode 'ms' verwenden!</p>
			<p>Allerdings kannst du dammit keine personlichen Ergebnisse speichern.</p>
		</div>
		<div class="container">
				<div class="box text-left col-sm-8 centered">
					<form (ngSubmit)="login()">
						<div class="row">
							<div class="col-sm-6">
								<h4>Eingabe deines gemcodes:</h4>
							</div>
							<div class="col-sm-3 input-div">
								<input type="password"  [(ngModel)]="model.password" name="password" class="login-input">
							</div>
							<div class="col-sm-3">
								<button type="submit" class="btn btn-default btn-block">Login</button>
							</div>

						</div>
					</form>
					<div class="clearfix-div show-bar-span-login">
						<div class="bar-span" *ngIf="!loginProgress">
							<span>&nbsp;</span>
							<span>&nbsp;</span>
							<span>&nbsp;</span>
						</div>
						<div class="login-status" *ngIf="loginProgress">
								{{message}}
						</div>
						
					</div>
					<form (ngSubmit)="resetPassword()">
						<div class="row">
							<div class="col-sm-9 next-input-div">
								<p class="text-left">Nach 5 Password-Fehlversuchen wird die Addresse gesperrt. Du kanst</p>
								<p> aber unterhalb deine Emailaddresse eingeben dann wird dir das Password</p>
								<p> an deine eingetragene Emailaddresse geschickt.</p>
								<input type="email" class="next-login-input" [(ngModel)]="model.email" name="email">
							</div>
							<div class="col-sm-3">
								<button type="submit" class="btn btn-default btn-block verify-password">
									<p>Password</p>
									<p>Bergessan</p>
								</button>
							</div>

						</div>
					</form>
				</div>
			
		</div>
	</div>
