header{
    padding-left:5%;
    padding-right:5%;
}
.login-header img{
    width: 100%;
    height: 15vh;
}
.login-header h1{
    margin: 0;
    font-size: 8vh;
    letter-spacing: 10px;
    padding-top: 4vh;
}
header p {
    font-size: 4vh;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 4px;
    line-height: 4.5vh;
}
header p.small{font-size:2vh;line-height: 2.5vh;}
header p.small.desc{margin-top:1vh;}
header p.small.version{font-weight:normal;margin-top:1vh;}
.info-text{padding-top:2vh;}
.info-text p{font-size:2.5vh;}
form h4{font-size:4vh;letter-spacing: 1px;}
.box {
    background-color: #003366;
    border: 6px solid #FF0000;
    border-radius: 24px;
    padding: 2.5vh 40px 1vh 40px;
}

.box .input-div input {
    color: #ea0408;
    background: #fff;
    outline: none!important;
    height: 4vh;
    width: 130%;
    margin-left: -25%;
    margin-top: .35vh;
    font-size: 5vh;
    line-height: 0;
    text-align: center;
}

.btn.verify-password {
    position: absolute;
    bottom: -1px;
    right: 6%;
    width: 86%;
}
.verify-password p {
    line-height: 2.5vh;
    margin-top: -7px;
    font-size: 1.5vh;
}

.next-input-div p {
    font-size: 1.5vh;
    margin-bottom: 0;
    line-height: 1.8vh;
}
.show-bar-span-login {
    min-height: 8vh;
}
.show-bar-span-login {
    min-height: 8vh;
    padding:1vh;
}

.next-input-div input {
    background: #990000;
    color: #fff;
    outline: none!important;
    height: 3vh;
    margin-top: 1vh;
}
header .btn-block{width:100%;margin-left:-10%;}