<!-- exercise one -->
<div class="main-wrapper ex-one-one" *ngIf="exercise=='one'">

  <h1 class="page-header">{{currentExercise.name}}</h1>
  <header class="home info keyboard-header">
    <div class="main-info-text-hoder">
      <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
        {{currentExercise.header}}
      </h2>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-left typing maria-holder">
          <div class="maria-text large">
            <p>{{currentExercise.flagText}}</p>
          </div>
          <img src="../assets/images/maria.png">
        </div>
        <div class="col-sm-4">
          <div class="top-blank-white">
            <img src="{{currentLetterImage}}" *ngIf="currentLetterImage" class="keyboard-display-image" alt="">
          </div>
          <div class="bottom-blank-white {{currentTypedLetterClass}}">{{currentTypedLetter}}</div>
        </div>
        <div class="col-sm-4 text-right padding-right-0">
          <div class="info-group pull-right">
            <h4 class="text-center">INFO</h4>
            <table>
              <tr>
                <td class="text-center" colspan="2">1/25</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
              </tr>
              <tr>
                <td>r {{totalRight}}</td>
                <td>a 0</td>
              </tr>
              <tr>
                <td>f {{totalWrong}}</td>
                <td>z 0</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="color:#fff;">0A</td>
              </tr>
            </table>
            <div class="sound-slider" [ngClass]="{'mute':typeSettings.muteSound}">
              <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
            </div>
            <div class="mute-open-btns">
              <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
                &nbsp;
              </a>
              <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="sound-group pull-right">
            <h4 class="text-center">SOUND</h4>
            <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
            <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
            <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
            <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
            <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')">{{metroSound}}</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <div class="container5 keyboard-holder">
    <div class="keyboard-input-field">
      <div class="typing-text">
        <div [style.width.px]="14*keyboard.typingValue.length">
          <span *ngFor="let i of keyboard.typingValue,let a=index" [ngClass]="{'underline':a==letterNextTyped ,'active': a<=letterTypedIndex}">{{i}}</span>
        </div>
      </div>
    </div>
    <div class="keyboard-container">
      <ul id="keyboard">
        <li [ngClass]="{'active':keyValue=='^' || keyValue=='°','visible':checkLetterExists('^' ,'°')}" class="symbol default"
          (mousedown)="writeText('°','^')">
          <span class="off">°</span>
          <span class="on">^</span>
        </li>
        <li [ngClass]="{'active':keyValue=='1' || keyValue=='!','visible':checkLetterExists('1' ,'!')}" class="symbol primary"
          (mousedown)="writeText('1','!')">
          <span class="off">1</span>
          <span class="on">!</span>
        </li>
        <li [ngClass]="{'active':keyValue=='2' || keyValue==doubleQuote,'visible':checkLetterExists('2' ,doubleQuote)}" class="symbol primary"
          (mousedown)="writeText('2',doubleQuote)">
          <span class="off">2</span>
          <span class="on">"</span>
        </li>
        <li [ngClass]="{'active': keyValue=='3' || keyValue=='§','visible':checkLetterExists('3' ,'§')}" class="symbol warning"
          (mousedown)="writeText('3','§')">
          <span class="off">3</span>
          <span class="on">§</span>
        </li>
        <li [ngClass]="{'active':keyValue=='4' || keyValue=='$','visible':checkLetterExists('4' ,'$')}" class="symbol success" (mousedown)="writeText('4','$')">
          <span class="off">4</span>
          <span class="on">$</span>
        </li>
        <li [ngClass]="{'active':keyValue=='5' || keyValue=='%','visible':checkLetterExists('5' ,'%')}" class="symbol danger" (mousedown)="writeText('5','%')">
          <span class="off">5</span>
          <span class="on">%</span>
        </li>
        <li [ngClass]="{'active':keyValue=='6' || keyValue=='&','visible':checkLetterExists('6' ,'&')}" class="symbol danger" (mousedown)="writeText('6','&')">
          <span class="off">6</span>
          <span class="on">&</span>
        </li>
        <li [ngClass]="{'active':keyValue=='7' || keyValue=='/','visible':checkLetterExists('7' ,'/')}" class="symbol danger" (mousedown)="writeText('7','/')">
          <span class="off">7</span>
          <span class="on">/</span>
        </li>
        <li [ngClass]="{'active':keyValue=='8' || keyValue=='(','visible':checkLetterExists('8' ,'(')}" class="symbol danger" (mousedown)="writeText('8','(')">
          <span class="off">8</span>
          <span class="on">(</span>
        </li>
        <li [ngClass]="{'active':keyValue=='9' || keyValue==')','visible':checkLetterExists('9' ,')')}" class="symbol success" (mousedown)="writeText('9',')')">
          <span class="off">9</span>
          <span class="on">)</span>
        </li>
        <li [ngClass]="{'active':keyValue=='0' || keyValue=='=','visible':checkLetterExists('0' ,'=')}" class="symbol warning" (mousedown)="writeText('10','=')">
          <span class="off">0</span>
          <span class="on">=</span>
        </li>
        <li [ngClass]="{'active':keyValue=='ß' || keyValue=='?','visible':checkLetterExists('ß' ,'?')}" class="symbol primary" (mousedown)="writeText('ß','?')">
          <span class="off">ß</span>
          <span class="on">?</span>
        </li>
        <li [ngClass]="{'active':keyValue=='´' || keyValue=='`','visible':checkLetterExists('´' ,'`')}" class="symbol primary" (mousedown)="writeText('´','`')">
          <span class="off">´</span>
          <span class="on">`</span>
        </li>
        <li class="backspace lastitem default" (mousedown)="writeText('Backspace')" [ngClass]="{'active':keyValue=='Backspace'}">&nbsp;</li>
        <li class="tab default" (mousedown)="writeText('Tab')" [ngClass]="{'active':keyValue=='Tab'}"></li>
        <li [ngClass]="{'active':keyValue=='q','visible':checkLetterExists('q')}" class="letter primary" (mousedown)="writeText('q')">q</li>
        <li [ngClass]="{'active':keyValue=='w','visible':checkLetterExists('w')}" class="letter  warning" (mousedown)="writeText('w')">w</li>
        <li [ngClass]="{'active':keyValue=='e','visible':checkLetterExists('e')}" class="letter success" (mousedown)="writeText('e')">e</li>
        <li [ngClass]="{'active':keyValue=='r','visible':checkLetterExists('r')}" class="letter danger" (mousedown)="writeText('r')">r</li>
        <li [ngClass]="{'active':keyValue=='t','visible':checkLetterExists('t')}" class="letter danger" (mousedown)="writeText('t')">t</li>
        <li [ngClass]="{'active':keyValue=='y','visible':checkLetterExists('y')}" class="letter danger" (mousedown)="writeText('y')">y</li>
        <li [ngClass]="{'active':keyValue=='u','visible':checkLetterExists('u')}" class="letter danger" (mousedown)="writeText('u')">u</li>
        <li [ngClass]="{'active':keyValue=='i', 'visible': checkLetterExists('i')}" class="letter success" (mousedown)="writeText('i')">i</li>
        <li [ngClass]="{'active':keyValue=='o','visible':checkLetterExists('o')}" class="letter warning" (mousedown)="writeText('o')">o</li>
        <li [ngClass]="{'active':keyValue=='p','visible':checkLetterExists('p')}" class="letter primary" (mousedown)="writeText('p')">p</li>
        <li [ngClass]="{'active':keyValue=='ü','visible':checkLetterExists('ü')}" class="letter primary" (mousedown)="writeText('ü')">ü</li>
        <li [ngClass]="{'active':keyValue=='*' || keyValue=='+','visible':checkLetterExists('*','+')}" class="symbol default" (mousedown)="writeText('+')">
          <span class="off">+</span>
          <span class="on">*</span>
        </li>
        <li class="capslock default" (mousedown)="writeText('CapsLock')" [ngClass]="{'active':keyValue=='CapsLock'}"></li>
        <li [ngClass]="{'active':keyValue=='a','visible':checkLetterExists('a')}" class="letter primary" (mousedown)="writeText('a')">a</li>
        <li [ngClass]="{'active':keyValue=='s','visible':checkLetterExists('s')}" class="letter warning" (mousedown)="writeText('s')">s</li>
        <li [ngClass]="{'active':keyValue=='d','visible':checkLetterExists('d')}" class="letter success" (mousedown)="writeText('d')">d</li>
        <li [ngClass]="{'active':keyValue=='f','visible':checkLetterExists('f')}" class="letter danger" (mousedown)="writeText('f')">f</li>
        <li [ngClass]="{'active':keyValue=='g','visible':checkLetterExists('g')}" class="letter danger" (mousedown)="writeText('g')">g</li>
        <li [ngClass]="{'active':keyValue=='h','visible':checkLetterExists('h')}" class="letter danger" (mousedown)="writeText('h')">h</li>
        <li [ngClass]="{'active':keyValue=='j','visible':checkLetterExists('j')}" class="letter danger" (mousedown)="writeText('j')">j</li>
        <li [ngClass]="{'active':keyValue=='k','visible':checkLetterExists('k')}" class=" success" (mousedown)="writeText('k')">k</li>
        <li [ngClass]="{'active':keyValue=='l','visible':checkLetterExists('l')}" class="letter warning" (mousedown)="writeText('l')">l</li>
        <li [ngClass]="{'active':keyValue=='ö','visible':checkLetterExists('ö')}" class="symbol primary" (mousedown)="writeText('ö')">ö</li>
        <li [ngClass]="{'active':keyValue=='ä','visible':checkLetterExists('ä')}" class="symbol primary" (mousedown)="writeText('ä')">ä</li>
        <li [ngClass]="{'active':keyValue=='#' || keyValue==singleQuote,'visible':checkLetterExists('#',singleQuote)}" class="symbol default"
          (click)="writeText(singleQuote,'#')">
          <span class="off">'</span>
          <span class="on">#</span>
        </li>
        <li class="return lastitem default" (mousedown)="writeText('Enter')" [ngClass]="{'active':keyValue=='Enter'}"></li>
        <li class="left-shift default" (mousedown)="writeText('Shift')" [ngClass]="{'active':keyValue=='Shift'}"></li>
        <li [ngClass]="{'active':keyValue=='>' || keyValue=='<','visible':checkLetterExists('>','<')}" class="symbol default" (mousedown)="writeText('>','<')">
          <span class="off">></span>
          <span class="on">
            <</span>
        </li>
        <li [ngClass]="{'active':keyValue=='z','visible':checkLetterExists('z')}" class="letter primary" (mousedown)="writeText('z')">z</li>
        <li [ngClass]="{'active':keyValue=='x','visible':checkLetterExists('x')}" class="letter warning" (mousedown)="writeText('x')">x</li>
        <li [ngClass]="{'active':keyValue=='c','visible':checkLetterExists('c')}" class="letter success" (mousedown)="writeText('c')">c</li>
        <li [ngClass]="{'active':keyValue=='v','visible':checkLetterExists('v')}" class="letter danger" (mousedown)="writeText('v')">v</li>
        <li [ngClass]="{'active':keyValue=='b','visible':checkLetterExists('b')}" class="letter danger" (mousedown)="writeText('b')">b</li>
        <li [ngClass]="{'active':keyValue=='n','visible':checkLetterExists('n')}" class="letter danger" (mousedown)="writeText('n')">n</li>
        <li [ngClass]="{'active':keyValue=='m','visible':checkLetterExists('m')}" class="letter danger" (mousedown)="writeText('m')">m</li>
        <li [ngClass]="{'active':keyValue==':' || keyValue==',','visible':checkLetterExists(':',',')}" class="symbol success" (mousedown)="writeText(',',',')">
          <span class="off">;</span>
          <span class="on">,</span>
        </li>
        <li [ngClass]="{'active':keyValue==':' || keyValue=='.','visible':checkLetterExists(':','.')}" class="symbol warning" (mousedown)="writeText(':','.')">
          <span class="off">:</span>
          <span class="on">.</span>
        </li>
        <li [ngClass]="{'active':keyValue=='_' || keyValue=='-','visible':checkLetterExists('_','-')}" class="symbol primary" (mousedown)="writeText('_','-')">
          <span class="off">_</span>
          <span class="on">-</span>
        </li>
        <li class="right-shift lastitem default"></li>
        <li class="left-shift blank default"></li>
        <li class="space lastitem default" [ngClass]="{'active':keyValue==' '}" (mousedown)="writeText(' ')">&nbsp;</li>
        <li class="right-shift lastitem blank default"></li>
      </ul>
      <div class="clearfix"></div>
    </div>

   
  </div>

</div>
<!-- exercise two -->
<div class="main-wrapper ex-one-five" *ngIf="exercise=='two'">
  <h1 class="page-header">{{currentExercise.name}}</h1>
  <header class="home info keyboard-header">
    <div class="main-info-text-hoder">
      <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
        {{currentExercise.header}}
      </h2>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-left typing maria-holder">
          <div class="maria-text large">
            <p>{{currentExercise.flagText}}</p>
          </div>
          <img src="../assets/images/maria.png">
        </div>
        <div class="col-sm-4">
          <div class="top-blank-white">
            <img src="{{currentLetterImage}}" *ngIf="currentLetterImage" class="keyboard-display-image" alt="">
          </div>
          <div class="bottom-blank-white {{currentTypedLetterClass}}">{{currentTypedLetter}}</div>
        </div>
        <div class="col-sm-4 text-right padding-right-0">
          <div class="info-group pull-right">
            <h4 class="text-center">INFO</h4>
            <table>
              <tr>
                <td class="text-center" colspan="2">1/25</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
              </tr>
              <tr>
                <td>r {{totalRight}}</td>
                <td>a 0</td>
              </tr>
              <tr>
                <td>f {{totalWrong}}</td>
                <td>z 0</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="color:#fff;">0A</td>
              </tr>
            </table>
            <div class="sound-slider" [ngClass]="{'mute':typeSettings.muteSound}">
              <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
            </div>
            <div class="mute-open-btns">
              <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
                &nbsp;
              </a>
              <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="sound-group pull-right">
            <h4 class="text-center">SOUND</h4>
            <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
            <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
            <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
            <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
            <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')">{{metroSound}}</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid container5 two-split-input">
    <div class="keyboard-input-field simple-typing">
      <div class="typing-text">
        <span *ngFor="let i of keyboard.typingValue,let a=index">{{i}}</span>
      </div>
    </div>
    <div class="input-field-five">{{typedString+'_'}}</div>
   
  </div>
</div>

 
<!-- exercise 3 -->
 <div class="main-wrapper ex-one-five ex-one-three" *ngIf="exercise=='three'">
  <h1 class="page-header">{{currentExercise.name}}</h1>
  <header class="home info keyboard-header">
    <div class="main-info-text-hoder">
      <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
        {{currentExercise.header}}
      </h2>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-left typing maria-holder">
          <div class="maria-text large">
            <p>{{currentExercise.flagText}}</p>
          </div>
          <img src="../assets/images/maria.png">
        </div>
        <div class="col-sm-4">
          <div class="bottom-blank-white  signle-blank-white  {{currentTypedLetterClass}}">
            {{currentTypedLetter}}
          </div>

        </div>
        <div class="col-sm-4 text-right padding-right-0">
          <div class="info-group pull-right">
            <h4 class="text-center">INFO</h4>
            <table>
              <tr>
                <td class="text-center" colspan="2">1/25</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
              </tr>
              <tr>
                <td>r {{totalRight}}</td>
                <td>a 0</td>
              </tr>
              <tr>
                <td>f {{totalWrong}}</td>
                <td>z 0</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="color:#fff;">0A</td>
              </tr>
            </table>
            <div class="sound-slider" [ngClass]="{'mute':typeSettings.muteSound}">
              <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
            </div>
            <div class="mute-open-btns">
              <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
                &nbsp;
              </a>
              <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="sound-group pull-right">
            <h4 class="text-center">SOUND</h4>
            <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
            <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
            <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
            <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
            <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')">{{metroSound}}</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid container5 two-split-input">
    <div class="keyboard-input-field simple-typing">
      <div class="typing-text">
        <span *ngFor="let i of keyboard.typingValue,let a=index">{{i}}</span>
      </div>
    </div>
    <div class="input-field-five">{{typedString+'_'}}</div>
  </div>

</div> 
<!--  exercise four-->
<div class="main-wrapper ex-one-five ex-one-three" *ngIf="exercise=='four'">
  <h1 class="page-header">{{currentExercise.name}}</h1>
  <header class="home info keyboard-header">
    <div class="main-info-text-hoder">
      <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
        {{currentExercise.header}}
      </h2>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-left typing maria-holder">
          <div class="maria-text large">
            <p>{{currentExercise.flagText}}</p>
          </div>
          <img src="../assets/images/maria.png">
        </div>
        <div class="col-sm-4">
          <div class="top-blank-white">
            <img src="{{currentLetterImage}}" *ngIf="currentLetterImage" class="keyboard-display-image" alt="">
          </div>
        </div>
        <div class="col-sm-4 text-right padding-right-0">
          <div class="info-group pull-right">
            <h4 class="text-center">INFO</h4>
            <table>
              <tr>
                <td class="text-center" colspan="2">1/25</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
              </tr>
              <tr>
                <td>r {{totalRight}}</td>
                <td>a 0</td>
              </tr>
              <tr>
                <td>f {{totalWrong}}</td>
                <td>z 0</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="color:#fff;">0A</td>
              </tr>
            </table>
            <div class="sound-slider" [ngClass]="{'mute':typeSettings.muteSound}">
              <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
            </div>
            <div class="mute-open-btns">
              <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
                &nbsp;
              </a>
              <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="sound-group pull-right">
            <h4 class="text-center">SOUND</h4>
            <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
            <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
            <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
            <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
            <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')">{{metroSound}}</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid container5 two-split-input">
    <div class="keyboard-input-field simple-typing">
      <div class="typing-text">
        <span *ngFor="let i of keyboard.typingValue,let a=index">{{i}}</span>
      </div>
    </div>
    <div class="input-field-five">{{typedString+'_'}}</div>
  </div>

</div> 


<!--  exercise five-->
<div class="main-wrapper ex-one-five ex-one-three" *ngIf="exercise=='five'">
  <h1 class="page-header">{{currentExercise.name}}</h1>
  <header class="home info keyboard-header">
    <div class="main-info-text-hoder">
      <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
        {{currentExercise.header}}
      </h2>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 text-left typing maria-holder">
          <div class="maria-text large">
            <p>{{currentExercise.flagText}}</p>
          </div>
          <img src="../assets/images/maria.png">
        </div>
        <div class="col-sm-4">
          <!-- <div class="top-blank-white">
            <img src="{{currentLetterImage}}" *ngIf="currentLetterImage" class="keyboard-display-image" alt="">
          </div> -->
        </div>
        <div class="col-sm-4 text-right padding-right-0">
          <div class="info-group pull-right">
            <h4 class="text-center">INFO</h4>
            <table>
              <tr>
                <td class="text-center" colspan="2">1/25</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
              </tr>
              <tr>
                <td>r {{totalRight}}</td>
                <td>a 0</td>
              </tr>
              <tr>
                <td>f {{totalWrong}}</td>
                <td>z 0</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="color:#fff;">0A</td>
              </tr>
            </table>
            <div class="sound-slider" [ngClass]="{'mute':typeSettings.muteSound}">
              <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
            </div>
            <div class="mute-open-btns">
              <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
                &nbsp;
              </a>
              <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="sound-group pull-right">
            <h4 class="text-center">SOUND</h4>
            <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
            <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
            <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
            <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
            <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')">{{metroSound}}</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
            <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid container5 two-split-input">
    <div class="keyboard-input-field simple-typing">
      <div class="typing-text">
        <span *ngFor="let i of keyboard.typingValue,let a=index">{{i}}</span>
      </div>
    </div>
    <div class="input-field-five">{{typedString+'_'}}</div>
  </div>

</div> 

<div class="bottom-botton-holder">
  <div class="row">
    <div class="col-sm-6 text-left">
      <a class="btn rounded-button rounded-white" routerLink="/module">
        Ubung abbrechen
      </a>
    </div>
    <div class="col-sm-6 text-right">
      <a class="btn rounded-button rounded-white" routerLink="/home">
        Lektion beenden
      </a>
    </div>
  </div>
</div>
<div class="complete-modal" *ngIf="showCompleteBox">
  <div class="wrapper">
    <div class="top-info-bar container-fluid">
      <div class="row">
        <div class="col-sm-7">
          <h2>Ubungsergebnis:</h2>
          <p class="super-alle">Super - alle 9</p>
          <p class="super-alle">Bonsusfelder aufgedeckt!</p>
        </div>
        <div class="col-sm-5">
          <img src="../assets/images/pendilum.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn rounded-button rounded-white" (click)="continueExercise()">Ubung wiederholen</button>
        </div>
        <div class="col-sm-6">
          <button class="btn rounded-button rounded-white btn-block" routerLink="/gallery">Bild einkleben</button>
        </div>
        <div class="col-sm-12 underline-div"></div>
        <div class="col-sm-6">
          <p class="text-red">
            Die nachste Ubung heibt: Information
          </p>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-12"></div>
        <div class="col-sm-6">
          <button class="btn rounded-button rounded-white btn-block" (click)="setNextPractice()">Nachste Ubung</button>
        </div>
        <div class="col-sm-6">
          <button class="btn rounded-button rounded-white btn-block" routerLink="/module">Lektion beenden</button>
        </div>
        <div class="col-sm-12">
          <button class="btn rounded-button btn-block sm-btn" (click)="showTooltipBox()">Erklarung zu diesem Zwischenergebnis</button>
        </div>
      </div>
      <div class="info-tooltip" *ngIf="showTooltipInfo">
        <p class="text-white">
          <b>Abdeckfelder (1:9)</b>
        </p>
        <p>je
          <b>weniger</b> Fehler beim Schreiben gemacht werden, umso mehr Felder werden frei gegeben.</p>
        <p>Wenn alle 9 Felder frei sind, darfst du das dargestellte bild in dein Album einkleben.</p>
        <p>Die Abdeckfelder sind
          <b class="text-blue">blau</b>: wenn du langsam und mit wenigen Fehlern Schreibst, sie and
          <b class="text-yellow">gelb</b>, wenn du bereits etwas schneller schreiben kannst oder songar rot, wenn deine Schreib-geschwindigkeit
          bereits hoch ist. Aber viel wichtiger als Geschwindigkeit ist</p>
        <p>
          <b>Fehlerfreiheit</b>.
          <b class="text-yellow">Die Geschwindigkeit kommt automatisch mit der Ubung.</b>
        </p>
      </div>
    </div>
    <div class="bottom-info-bar container-fluid">
      <h2>Ergebnis in Prozenten:</h2>
      <ul class="main-page-list">
        <li>
          <span class="red">1</span>
          <span class="text-span">Demoubung</span>
          <span class="percent-indicator" style="width: 100%;"></span>
          <span class="gray-percent" style="width: 60%;"></span>
          <span class="yellow-percent" style="width: 0%;"></span>
          <span class="three-params">
            <span>100% R</span>
            <span>60 A</span>
            <span>0 T</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="zoom-div text-center" *ngIf="showZoomAnimation">
  <button class="btn rounded-button rounded-white" [ngClass]="{'animation':zoomButtonAnimation==true}" (click)="hideZoomAnimation()">Zum Start Bitte hier klicken</button>
</div>
