.page-header{
	font-size: 16px;
	letter-spacing: 3px;
}
.info .main-info-text{
	z-index: 0;
	border-width: 3px;
}
/*.info .sound-group h4, .info-group h4{
	letter-spacing: 5px;
	font-family: serif;
}
.info .sound-group, .info-group{
	border-width: 3px;
}
.info .sound-group, .info-group{
	background: #999;
}
.info .sound-group .btn{
	font-weight: 600;
	line-height: 31px;
}
.info-group{
	padding: 2px 6px;
	margin-left: 10px;
}
.info-group, .info .sound-group{
	display: block;
	margin-top:1px;
}*/
/*#keyboard li {
    /*margin: 1px;*
    width: 6.5%;
    height: 54px;
    border-radius: 10px;
    font-size: 22px;
    text-transform: uppercase;
}
#keyboard li.default{
	border-width: 6px 12px;
}*/

/*.bottom-botton-holder{
	bottom: 4px;
}
.bottom-botton-holder a.btn.rounded-button{
    color: #222 !important;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 2px;
    background: #ccc;
    border-width: 1px;
    font-weight: 800;
}*/

.main-info-text-hoder{
	/*max-height: 55px;*/
}
.top-blank-white {
    margin-bottom: 5px;
    margin-top: 3px;
    border: 4px solid #000;
    /*height: 140px;*/
}
.ex-one-four .top-blank-white{
	height: 32vh;
}
.bottom-blank-white{
	/*height: 45px;*/
}
.keyboard-holder {
    margin-top: 2.5%;
}
/*SM 2*/
.container-fluid.container5 {
    border-radius: 15px;
    margin-top: 27px;
    height: 56%;
}
.keyboard-input-field .typing-text{
	line-height: 25px;
}

/*SM 3*/
.maria-text.large{
	width: 150px;
	right: 25%;
	top: 60px;
}
.maria-text p {
    color: #000;
    line-height: normal;
    color: #ea0408;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    font-family: sans-serif;
}

.maria-holder img{
	/*width: 100%;*/
}
.bottom-blank-white.signle-blank-white {
    height: 18vh;
    border-width: 10px;
    margin-top: 15%;
	border-radius: 35px;
}