.ex-two-two header{
    height:auto;
}
.ex-two-two .top-blank-white{
    height:50vh;
    border:12px solid #3c3b3b;
}
.ex-two-two .bottom-blank-white{
    height: 15vh;
    border: 12px solid #3c3b3b;
    font-size: 80px;
    font-weight: bold;
    line-height: 8vh;
}

/*.zoom-div{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30%;
}*/
.zoom-div .btn{
    position: relative;
    transition:all 1s ease-out;
}
.zoom-div .btn.animation{
    transform: translateY(-200px);
    width: 30%;
    height: 50px;
    font-size: 24px;
    line-height: 51px;
}
.container-fluid.container5{
    margin-top: 2%;
    height: 56%;
}
.signle-blank-white{
    margin-top:20%;
}