<header class="login-header">
  <div class="container-fluid">
    <h1 class="text-center">MM-Schreibtrainer</h1>
    <div class="row">
      <div class="col-md-3 text-center typing">
        <img src="../assets/images/12.gif">
        <a href="#" class="btn btn-default btn-block">
          Anmelden
        </a>
      </div>
      <div class="col-md-6">
        <p>Multimedia-Abteilung</p>
        <p> PH der Diozese Linz</p>
        <p>(c17) alois.bachinger@ph-linz.at</p>
        <p class="small">Flashplayer grober Vers. 6 notwending! (etonzto)</p>
        <p class="small version">Vers. 8.0</p>
      </div>
      <div class="col-md-3 typing">
        <img src="../assets/images/12.gif">
        <a href="#" class="btn btn-default btn-block">
          Programende
        </a>

      </div>
    </div>
  </div>
</header>

<div class="container-fluid container5 module-container">
  <div class="module-content">
    <h1>INDIVIDUALMODULES</h1>
    <div class="row">
      <div class="col-sm-3">
        <h4>A) Tastatur</h4>
        <ul class="keybord-tast first-tast">
          <li>
            <span class="spn-text">Oberreihe:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==1}"  (click)="setTypeValue('quert',1,1)">li</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==2}" (click)="setTypeValue('zuiop',1,2)">re</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Grundreihe:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==3}" (click)="setTypeValue('asdfg',2,3)">li</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==4}" (click)="setTypeValue('hjklö',2,4)">re</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Unterreihe:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==5}" (click)="setTypeValue('yxcvb',3,5)">li</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==6}" (click)="setTypeValue('nm,.-',3,6)">re</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Ziffernreihe:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==7}" (click)="setTypeValue('123456',4,7)">li</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==8}" (click)="setTypeValue('7890ß',4,8)">re</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Zeichen und Symbole:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==9}" (click)='setTypeValue("!§$\"%&",5,9)'>a</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==10}" (click)="setTypeValue('/()=?',5,10)">b</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Alt-GR-Zeichnen:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==11}" (click)="setTypeValue('+`´#*\'^°',6,11)">a</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==12}" (click)="setTypeValue('{}[]\€~|@',6,12)">b</button>
            </span>
          </li>
          <li>
            <span class="spn-text">Alle Zeichen:</span>
            <span class="sp-btn-group">
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==13}" (click)="setTypeValue('Alle Zeichen',7,13)">a</button>
              <button class="btn btn-default first-tast-btn" [ngClass]="{'active':tasterButton==14}" (click)="setTypeValue('Künft. Erweiterung',7,14)">&nbsp;</button>
            </span>
          </li>
        </ul>
      </div>

      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5">
            <h4>B) Arbeitsmodus</h4>
            <ul class="keybord-tast arbeit">
              <li>
                <span class="spn-text">Schreibmaschinenmodus:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default arbeit-btn" (click)="setWorkingMode('sm')" [ngClass]="{'active':typeSettings.typewriterMode=='sm'}">SM</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Dikkat: Zufallsbuchstaben:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default arbeit-btn" (click)="setWorkingMode('dz')" [ngClass]="{'active':typeSettings.typewriterMode=='dz'}" >DZ</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Dikkat - Texte:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default arbeit-btn" (click)="setWorkingMode('dt')" [ngClass]="{'active':typeSettings.typewriterMode=='dt'}">DT</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Buchstabensuche:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default arbeit-btn" (click)="setWorkingMode('bs')" [ngClass]="{'active':typeSettings.typewriterMode=='bs'}">BS</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Buchstabenspiel:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default arbeit-btn" (click)="setWorkingMode('sp')" [ngClass]="{'active':typeSettings.typewriterMode=='sp'}">SP</button>
                </span>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>C) Darstellung</h4>
            <ul class="keybord-tast darst">
              <li>
                <span class="spn-text">Tastatur, Buchstable und Tastenicon:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default darst-btn" (click)="setPresentation(1)" [ngClass]="{'active':typeSettings.presentation===1}">1</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Buchstabe und Icon:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default darst-btn" (click)="setPresentation(2)" [ngClass]="{'active':typeSettings.presentation===2}">2</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Buchstabe:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default darst-btn" (click)="setPresentation(3)" [ngClass]="{'active':typeSettings.presentation===3}">3</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Icon:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default darst-btn" (click)="setPresentation(4)" [ngClass]="{'active':typeSettings.presentation===4}">4</button>
                </span>
              </li>
              <li>
                <span class="spn-text">Buchstable-Sprache:</span>
                <span class="sp-btn-group">
                  <button class="btn btn-default darst-btn" (click)="setPresentation(5)" [ngClass]="{'active':typeSettings.presentation===5}">5</button>
                </span>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4 class="sound-group-heading">D) Sound</h4>
            <div class="sound-group">
              <button class="btn btn-default kein-btn sound-btn"  (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</button>
              <button class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</button>
              <button class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</button>
              <button class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</button>
              <button class="btn btn-default sound-btn" (click)="setSound('metro_aus')">Metro aus</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</button>
              <button class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</button>
            </div>
          </div>
          <!--  <div class="clearfix"></div> -->
        </div>

        <div class="row margin-top-20 space-top-bar">
          <div class="col-sm-2">
            <p class="margin-bottom-5">Ubungstext:</p>
          </div>

          <div class="col-sm-6">
            <input type="text" [(ngModel)]="typeSettings.value" value="asdfghjklo" class="form-control">
          </div>

          <div class="col-sm-4 mult-ul-div">
            <p class="text-right margin-bottom-0 margin-top-0">Anzahl/Whlg:</p>
            <ul class="padding-left-0">
              <li>
                <button class="btn btn-default size-btn" (click)="setStringLength(1)" [ngClass]="{'active':typeSettings.stringLength===1}">1</button>
              </li>
              <li>
                <button class="btn btn-default size-btn" (click)="setStringLength(10)" [ngClass]="{'active':typeSettings.stringLength===10}">10</button>
              </li>
              <li>
                <button class="btn btn-default size-btn" (click)="setStringLength(20)" [ngClass]="{'active':typeSettings.stringLength===20}">20</button>
              </li>
              <li>
                <button class="btn btn-default size-btn" (click)="setStringLength(50)" [ngClass]="{'active':typeSettings.stringLength===50}">50</button>
              </li>
              <li>
                <button class="btn btn-default size-btn" (click)="setStringLength(100)" [ngClass]="{'active':typeSettings.stringLength===100}">100</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row last-btn-module">
    <div class="col-sm-1 col-sm-half text-left btn-l-d padding-left-0 margin-top-10">
      <a class="btn btn-default margin-left-20" href="http://mms.pphlinz.at/mmms_docu.pdf" target="_blank">D</a>
    </div>
    <div class="col-sm-11">
      <div class="space-bars">

        <button class="btn btn-default btn-block" (click)="saveSettings()">Ubungsstart</button>
      </div>
    </div>
    <div class="col-sm-1 col-sm-half text-right btn-r-d  margin-top-10">
      <a class="btn btn-default m-l-10" routerLink="/home">L</a>
    </div>
  </div>
</div>