<h1 class="page-header">{{currentExercise.name}}</h1>
<header class="home info keyboard-header">
  <div class="main-info-text-hoder">
    <h2 class="main-info-text" [ngClass]="{'active': headerHide ==false,'hide':collapseHeader==true}">
      {{currentExercise.header}}
    </h2>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-left typing maria-holder">
        <div class="maria-text large">
          <p>{{currentExercise.flagText}}</p>
        </div>
        <img src="../assets/images/maria.png">
      </div>

      <div class="col-sm-6 text-right">
        <div class="sound-group">
          <h4 class="text-center">SOUND</h4>
          <a class="btn btn-default kein-btn sound-btn" (click)="setSound('kein_sound')" [ngClass]="{'active':typeSettings.sound=='kein_sound'}">Kein Sound</a>
          <a class="btn btn-default sound-btn" (click)="setSound('click')" [ngClass]="{'active':typeSettings.sound=='click'}">Klick</a>
          <a class="btn btn-default sound-btn" (click)="setSound('bst')" [ngClass]="{'active':typeSettings.sound=='bst'}">Bst</a>
          <a class="btn btn-default sound-btn" (click)="setSound('icon')" [ngClass]="{'active':typeSettings.sound=='icon'}">Icon</a>
          <a class="btn btn-default sound-btn metro_aus" (click)="setSound('metro_aus')" [ngClass]="{'active':typeSettings.sound=='metro_aus'}">Metro aus</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg1')" [ngClass]="{'active':typeSettings.sound=='hg1'}">HG1</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg2')" [ngClass]="{'active':typeSettings.sound=='hg2'}">HG2</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg3')" [ngClass]="{'active':typeSettings.sound=='hg3'}">HG3</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg4')" [ngClass]="{'active':typeSettings.sound=='hg4'}">HG4</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg5')" [ngClass]="{'active':typeSettings.sound=='hg5'}">HG5</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg6')" [ngClass]="{'active':typeSettings.sound=='hg6'}">HG6</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg7')" [ngClass]="{'active':typeSettings.sound=='hg7'}">HG7</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg8')" [ngClass]="{'active':typeSettings.sound=='hg8'}">HG8</a>
          <a class="btn btn-default sound-btn" (click)="setSound('hg9')" [ngClass]="{'active':typeSettings.sound=='hg9'}">HG9</a>
        </div>
        <div class="info-group">
          <h4 class="text-center">INFO</h4>
          <table>
            <tr>
              <td class="text-center" colspan="2">1/25</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">{{totalRight+'/'+totalWords}}</td>
            </tr>
            <tr>
              <td>r {{totalRight}}</td>
              <td>a 0</td>
            </tr>
            <tr>
              <td>f {{totalWrong}}</td>
              <td>z 0</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td style="color:#fff;">0A</td>
            </tr>
          </table>
          <div class="sound-slider">
            <mat-slider class="mat-slider" min="1" max="100" step="5" value="{{typeSettings.soundVolume}}" (input)="setSoundVolume($event)"></mat-slider>
          </div>
          <div class="mute-open-btns">
            <a class="btn btn-default mute-button" (click)="soundSetting(true)" [ngClass]="{'active':typeSettings.muteSound==true}">
             &nbsp;
            </a>
            <a class="btn btn-default unmute-button" (click)="soundSetting(false)" [ngClass]="{'active':typeSettings.muteSound==false}">
             &nbsp;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container5 keyboard-holder">

  <div class="ballon-holder">
      <ng-container *ngFor="let l of currentLetters,let a=index" >
      <span *ngIf="!l.del" class="{{getLetterClass(l.letter)}}" [ngStyle]="{left:l.left+'%'}" [@ballonState]="l.animation==true ? 'active' :(l.initial ==true ?  'preactive' : 'inactive')"   (@ballonState.done)="removeElement(a,l.animation)">{{l.letter}}</span>
    </ng-container>
  </div>

  <div class="keyboard-container">
    <ul id="keyboard">
      <li [ngClass]="{'active':keyValue==='^' || keyValue==='°','visible':checkLetterExists('^' ,'°')}" class="symbol default" (click)="writeText('°','^')">
        <span class="off">°</span>
        <span class="on">^</span>
      </li>
      <li [ngClass]="{'active':keyValue==='1' || keyValue==='!','visible':checkLetterExists('1' ,'!')}" class="symbol primary" (click)="writeText('1','!')">
        <span class="off">1</span>
        <span class="on">!</span>
      </li>
      <li [ngClass]="{'active':keyValue==='2' || keyValue===doubleQuote,'visible':checkLetterExists('2' ,doubleQuote)}" class="symbol primary" (click)="writeText('2',doubleQuote)">
        <span class="off">2</span>
        <span class="on">"</span>
      </li>
      <li [ngClass]="{'active': keyValue==='3' || keyValue==='§','visible':checkLetterExists('3' ,'§')}" class="symbol warning" (click)="writeText('3','§')">
        <span class="off">3</span>
        <span class="on">§</span>
      </li>
      <li [ngClass]="{'active':keyValue==='4' || keyValue=='$','visible':checkLetterExists('4' ,'$')}" class="symbol success" (click)="writeText('4','$')">
        <span class="off">4</span>
        <span class="on">$</span>
      </li>
      <li [ngClass]="{'active':keyValue==='5' || keyValue=='%','visible':checkLetterExists('5' ,'%')}" class="symbol danger" (click)="writeText('5','%')">
        <span class="off">5</span>
        <span class="on">%</span>
      </li>
      <li [ngClass]="{'active':keyValue==='6' || keyValue=='&','visible':checkLetterExists('6' ,'&')}" class="symbol danger" (click)="writeText('6','&')">
        <span class="off">6</span>
        <span class="on">&</span>
      </li>
      <li [ngClass]="{'active':keyValue==='7' || keyValue=='/','visible':checkLetterExists('7' ,'/')}" class="symbol danger" (click)="writeText('7','/')">
        <span class="off">7</span>
        <span class="on">/</span>
      </li>
      <li [ngClass]="{'active':keyValue==='8' || keyValue=='(','visible':checkLetterExists('8' ,'(')}" class="symbol danger" (click)="writeText('8','(')">
        <span class="off">8</span>
        <span class="on">(</span>
      </li>
      <li [ngClass]="{'active':keyValue==='9' || keyValue==')','visible':checkLetterExists('9' ,')')}" class="symbol success" (click)="writeText('9',')')">
        <span class="off">9</span>
        <span class="on">)</span>
      </li>
      <li [ngClass]="{'active':keyValue==='0' || keyValue=='=','visible':checkLetterExists('0' ,'=')}" class="symbol warning" (click)="writeText('10','=')">
        <span class="off">0</span>
        <span class="on">=</span>
      </li>
      <li [ngClass]="{'active':keyValue==='ß' || keyValue=='?','visible':checkLetterExists('ß' ,'?')}" class="symbol primary" (click)="writeText('ß','?')">
        <span class="off">ß</span>
        <span class="on">?</span>
      </li>
      <li [ngClass]="{'active':keyValue==='´' || keyValue=='`','visible':checkLetterExists('´' ,'`')}" class="symbol primary" (click)="writeText('´','`')">
        <span class="off">´</span>
        <span class="on">`</span>
      </li>
      <li class="backspace lastitem default" (click)="writeText('Backspace')" [ngClass]="{'active':keyValue=='Backspace'}">&nbsp;</li>
      <li class="tab default" (click)="writeText('Tab')" [ngClass]="{'active':keyValue=='Tab'}"></li>
      <li [ngClass]="{'active':keyValue==='q','visible':checkLetterExists('q')}" class="letter primary" (click)="writeText('q')">q</li>
      <li [ngClass]="{'active':keyValue==='w','visible':checkLetterExists('w')}" class="letter  warning" (click)="writeText('w')">w</li>
      <li [ngClass]="{'active':keyValue==='e','visible':checkLetterExists('e')}" class="letter success" (click)="writeText('e')">e</li>
      <li [ngClass]="{'active':keyValue==='r','visible':checkLetterExists('r')}" class="letter danger" (click)="writeText('r')">r</li>
      <li [ngClass]="{'active':keyValue==='t','visible':checkLetterExists('t')}" class="letter danger" (click)="writeText('t')">t</li>
      <li [ngClass]="{'active':keyValue==='y','visible':checkLetterExists('y')}" class="letter danger" (click)="writeText('y')">y</li>
      <li [ngClass]="{'active':keyValue==='u','visible':checkLetterExists('u')}" class="letter danger" (click)="writeText('u')">u</li>
      <li [ngClass]="{'active':keyValue==='i', 'visible': checkLetterExists('i')}" class="letter success" (click)="writeText('i')">i</li>
      <li [ngClass]="{'active':keyValue==='o','visible':checkLetterExists('o')}" class="letter warning" (click)="writeText('o')">o</li>
      <li [ngClass]="{'active':keyValue==='p','visible':checkLetterExists('p')}" class="letter primary" (click)="writeText('p')">p</li>
      <li [ngClass]="{'active':keyValue==='ü','visible':checkLetterExists('ü')}" class="letter primary" (click)="writeText('ü')">ü</li>
      <li [ngClass]="{'active':keyValue==='*' || keyValue=='+','visible':checkLetterExists('*','+')}" class="symbol default" (click)="writeText('+')">
        <span class="off">+</span>
        <span class="on">*</span>
      </li>
      <li class="capslock default" (click)="writeText('CapsLock')" [ngClass]="{'active':keyValue=='CapsLock'}"></li>
      <li [ngClass]="{'active':keyValue==='a','visible':checkLetterExists('a')}" class="letter primary" (click)="writeText('a')">a</li>
      <li [ngClass]="{'active':keyValue==='s','visible':checkLetterExists('s')}" class="letter warning" (click)="writeText('s')">s</li>
      <li [ngClass]="{'active':keyValue==='d','visible':checkLetterExists('d')}" class="letter success" (click)="writeText('d')">d</li>
      <li [ngClass]="{'active':keyValue==='f','visible':checkLetterExists('f')}" class="letter danger" (click)="writeText('f')">f</li>
      <li [ngClass]="{'active':keyValue==='g','visible':checkLetterExists('g')}" class="letter danger" (click)="writeText('g')">g</li>
      <li [ngClass]="{'active':keyValue==='h','visible':checkLetterExists('h')}" class="letter danger" (click)="writeText('h')">h</li>
      <li [ngClass]="{'active':keyValue==='j','visible':checkLetterExists('j')}" class="letter danger" (click)="writeText('j')">j</li>
      <li [ngClass]="{'active':keyValue==='k','visible':checkLetterExists('k')}" class=" success" (click)="writeText('k')">k</li>
      <li [ngClass]="{'active':keyValue==='l','visible':checkLetterExists('l')}" class="letter warning" (click)="writeText('l')">l</li>
      <li [ngClass]="{'active':keyValue==='ö','visible':checkLetterExists('ö')}" class="symbol primary" (click)="writeText('ö')">ö</li>
      <li [ngClass]="{'active':keyValue==='ä','visible':checkLetterExists('ä')}" class="symbol primary" (click)="writeText('ä')">ä</li>
      <li [ngClass]="{'active':keyValue==='#' || keyValue==singleQuote,'visible':checkLetterExists('#',singleQuote)}" class="symbol default" (click)="writeText(singleQuote,'#')">
        <span class="off">'</span>
        <span class="on">#</span>
      </li>
      <li class="return lastitem default" (click)="writeText('Enter')" [ngClass]="{'active':keyValue=='Enter'}"></li>
      <li class="left-shift default" (click)="writeText('Shift')" [ngClass]="{'active':keyValue=='Shift'}"></li>
      <li [ngClass]="{'active':keyValue==='>' || keyValue=='<','visible':checkLetterExists('>','<')}" class="symbol default" (click)="writeText('>','<')">
        <span class="off">></span>
        <span class="on">
          <</span>
      </li>
      <li [ngClass]="{'active':keyValue==='z','visible':checkLetterExists('z')}" class="letter primary" (click)="writeText('z')">z</li>
      <li [ngClass]="{'active':keyValue==='x','visible':checkLetterExists('x')}" class="letter warning" (click)="writeText('x')">x</li>
      <li [ngClass]="{'active':keyValue==='c','visible':checkLetterExists('c')}" class="letter success" (click)="writeText('c')">c</li>
      <li [ngClass]="{'active':keyValue==='v','visible':checkLetterExists('v')}" class="letter danger" (click)="writeText('v')">v</li>
      <li [ngClass]="{'active':keyValue==='b','visible':checkLetterExists('b')}" class="letter danger" (click)="writeText('b')">b</li>
      <li [ngClass]="{'active':keyValue==='n','visible':checkLetterExists('n')}" class="letter danger" (click)="writeText('n')">n</li>
      <li [ngClass]="{'active':keyValue==='m','visible':checkLetterExists('m')}" class="letter danger" (click)="writeText('m')">m</li>
      <li [ngClass]="{'active':keyValue===':' || keyValue==',','visible':checkLetterExists(':',',')}" class="symbol success" (click)="writeText(',',',')">
        <span class="off">;</span>
        <span class="on">,</span>
      </li>
      <li [ngClass]="{'active':keyValue===':' || keyValue=='.','visible':checkLetterExists(':','.')}" class="symbol warning" (click)="writeText(':','.')">
        <span class="off">:</span>
        <span class="on">.</span>
      </li>
      <li [ngClass]="{'active':keyValue==='_' || keyValue=='-','visible':checkLetterExists('_','-')}" class="symbol primary" (click)="writeText('_','-')">
        <span class="off">_</span>
        <span class="on">-</span>
      </li>
      <li class="right-shift lastitem default"></li>
      <li class="left-shift blank default"></li>
      <li class="space lastitem default" [ngClass]="{'active':keyValue==' '}" (click)="writeText(' ')">&nbsp;</li>
      <li class="right-shift lastitem blank default"></li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="bottom-botton-holder">
    <div class="row">
      <div class="col-sm-6 text-left">
        <a class="btn rounded-button rounded-white" routerLink="/module">
          Ubung abbrechen
        </a>
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn rounded-button rounded-white" routerLink="/home">
          Lektion beenden
        </a>
      </div>
    </div>
  </div>
</div>