.ballon-holder{
    position: relative;
    min-height: 100px;
}
.ballon-holder span{
    display: inline-block;
    width: 120px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    font-weight: bold;

    position: absolute;
    transition:all 10s ease;
}
.ballon-holder span.animation{
    bottom: 500px!important;
}
.ballon-holder span.danger{
    background: radial-gradient(white ,#cc0303,#770202,white);
}
.ballon-holder span.primary{
    background: radial-gradient(white ,#2554ce,#04216b,white);
}

.ballon-holder span.success{
    background: radial-gradient(white ,#4a9a1d,#795c04,white);
}

.ballon-holder span.warning{
    background: radial-gradient(white ,#d6a10b,#795c04,white);
}

