.ballon-holder{
    position: relative;
    min-height: 100px;
}
.ballon-holder span{
    display: inline-block;
    width: 90px;
    height:56px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    z-index: 99;
}

.ballon-holder span.danger{
    background: radial-gradient(white ,#cc0303,#770202,white);
}
.ballon-holder span.primary{
    background: radial-gradient(white ,#2554ce,#04216b,white);
}

.ballon-holder span.success{
    background: radial-gradient(white ,#4a9a1d,#795c04,white);
}

.ballon-holder span.warning{
    background: radial-gradient(white ,#d6a10b,#795c04,white);
}

