<div class="container-fluid">
	<div class="keyword-animation-wrapper">
		<p class="info-text">Versuche moglichst viele Ballone durch Tippen des jeweils richtigen Buchstabbens zu fangen! Auch Hier gilt noch "schreiben im Takt!"</p>
		<div class="row">
			<div class="col-sm-9 text-center">

				<ng-container *ngFor="let word of words;let i=index">
			      <span class="ballon" [style.bottom.px]="bottomPosition" *ngIf="i==wordIndex" [ngClass]="{'animation':wordMatch}">{{word}}</span>
			    </ng-container>
				
			</div>
			<div class="col-sm-3">
				<div class="info-box">
					<h4 class="text-primary">INFO</h4>
					<table class="table info-table">
						<tr class="text-primary">
							<td>{{totalAttempt}}/{{totalHit}}</td>
							<td colspan="2">2/100</td>
						</tr>
						<tr class="text-primary">
							<td>r 2</td>
							<td>a 21</td>
						</tr>
						<tr class="text-primary">
							<td>f 103</td>
							<td>z 19</td>
						</tr>
						<tr class="text-white">
							<td>{{hitPercent}}%</td>
							<td>66A</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
   	<div class="keyword-wrapper">
	    <ul id="keyboard">
	        <li [ngClass]="{'active':keyValue==='`'}" class="symbol" (click)="writeText('`')"><span class="off">`</span><span class="on">~</span></li>
	        <li [ngClass]="{'active':keyValue==='1'}" class="symbol" (click)="writeText(1)"><span class="off">1</span><span class="on">!</span></li>
	        <li [ngClass]="{'active':keyValue==='2'}" class="symbol" (click)="writeText(2)"><span class="off">2</span><span class="on">@</span></li>
	        <li [ngClass]="{'active': keyValue==='3'}" class="symbol" (click)="writeText(3)"><span class="off">3</span><span class="on">#</span></li>
	        <li [ngClass]="{'active':keyValue==='4'}" class="symbol" (click)="writeText(4)"><span class="off">4</span><span class="on">$</span></li>
	        <li [ngClass]="{'active':keyValue==='5'}" class="symbol" (click)="writeText(5)"><span class="off">5</span><span class="on">%</span></li>
	        <li [ngClass]="{'active':keyValue==='6'}" class="symbol" (click)="writeText(6)"><span class="off">6</span><span class="on">^</span></li>
	        <li [ngClass]="{'active':keyValue==='7'}" class="symbol" (click)="writeText(7)"><span class="off">7</span><span class="on">&amp;</span></li>
	        <li [ngClass]="{'active':keyValue==='8'}" class="symbol" (click)="writeText(8)"><span class="off">8</span><span class="on">*</span></li>
	        <li [ngClass]="{'active':keyValue==='9'}" class="symbol" (click)="writeText(9)"><span class="off">9</span><span class="on">(</span></li>
	        <li [ngClass]="{'active':keyValue==='0'}" class="symbol" (click)="writeText(10)"><span class="off">0</span><span class="on">)</span></li>
	        <li [ngClass]="{'active':keyValue==='-'}" class="symbol" (click)="writeText('-')"><span class="off">-</span><span class="on">_</span></li>
	        <li [ngClass]="{'active':keyValue==='='}" class="symbol" (click)="writeText('=')"><span class="off">=</span><span class="on">+</span></li>
	        <li class="delete lastitem">delete</li>
	        <li class="tab">tab</li>
	        <li [ngClass]="{'active':keyValue==='q'}" class="letter" (click)="writeText('q')">q</li>
	        <li [ngClass]="{'active':keyValue==='w'}" class="letter" (click)="writeText('w')">w</li>
	        <li [ngClass]="{'active':keyValue==='e'}" class="letter" (click)="writeText('e')">e</li>
	        <li [ngClass]="{'active':keyValue==='r'}" class="letter" (click)="writeText('r')">r</li>
	        <li [ngClass]="{'active':keyValue==='t'}" class="letter" (click)="writeText('t')">t</li>
	        <li [ngClass]="{'active':keyValue==='y'}" class="letter" (click)="writeText('y')">y</li>
	        <li [ngClass]="{'active':keyValue==='u'}" class="letter" (click)="writeText('u')">u</li>
	        <li [ngClass]="{'active':keyValue==='i'}" class="letter" (click)="writeText('i')">i</li>
	        <li [ngClass]="{'active':keyValue==='o'}" class="letter" (click)="writeText('o')">o</li>
	        <li [ngClass]="{'active':keyValue==='p'}" class="letter" (click)="writeText('p')">p</li>
	        <li [ngClass]="{'active':keyValue==='['}" class="symbol" (click)="writeText('[')"><span class="off">[</span><span class="on">{{'{'}}</span></li>
	        <li [ngClass]="{'active':keyValue===']'}" class="symbol" (click)="writeText(']')"><span class="off">]</span><span class="on">{{'}'}}</span></li>
	        <li class="symbol lastitem" [ngClass]="{'active':keyValue==='|'}" (click)="writeText('|')"><span class="off">\</span><span class="on">|</span></li>
	        <li class="capslock">caps lock</li>
	        <li [ngClass]="{'active':keyValue==='a'}" class="letter" (click)="writeText('a')">a</li>
	        <li [ngClass]="{'active':keyValue==='s'}" class="letter" (click)="writeText('s')">s</li>
	        <li [ngClass]="{'active':keyValue==='d'}" class="letter" (click)="writeText('d')">d</li>
	        <li [ngClass]="{'active':keyValue==='f'}" class="letter" (click)="writeText('f')">f</li>
	        <li [ngClass]="{'active':keyValue==='g'}" class="letter" (click)="writeText('g')">g</li>
	        <li [ngClass]="{'active':keyValue==='h'}" class="letter" (click)="writeText('h')">h</li>
	        <li [ngClass]="{'active':keyValue==='j'}" class="letter" (click)="writeText('j')">j</li>
	        <li [ngClass]="{'active':keyValue==='k'}" class="letter" (click)="writeText('k')">k</li>
	        <li [ngClass]="{'active':keyValue==='l'}" class="letter" (click)="writeText('l')">l</li>
	        <li [ngClass]="{'active':keyValue===':'}" class="symbol" (click)="writeText(';')"><span class="off">;</span><span class="on">:</span></li>
	        <li [ngClass]="{'active':keyValue==='`'}" class="symbol" (click)="writeText('`')"><span class="off">'</span><span class="on">&quot;</span></li>
	        <li class="return lastitem">return</li>
	        <li class="left-shift">shift</li>
	        <li [ngClass]="{'active':keyValue==='z'}" class="letter" (click)="writeText('z')">z</li>
	        <li [ngClass]="{'active':keyValue==='x'}" class="letter" (click)="writeText('x')">x</li>
	        <li [ngClass]="{'active':keyValue==='c'}" class="letter" (click)="writeText('c')">c</li>
	        <li [ngClass]="{'active':keyValue==='v'}" class="letter" (click)="writeText('v')">v</li>
	        <li [ngClass]="{'active':keyValue==='b'}" class="letter" (click)="writeText('b')">b</li>
	        <li [ngClass]="{'active':keyValue==='n'}" class="letter" (click)="writeText('n')">n</li>
	        <li [ngClass]="{'active':keyValue==='m'}" class="letter" (click)="writeText('m')">m</li>
	        <li [ngClass]="{'active':keyValue==='>'}" class="symbol" (click)="writeText(',')"><span class="off">,</span><span class="on">&lt;</span></li>
	        <li [ngClass]="{'active':keyValue==='<'}" class="symbol" (click)="writeText('.')"><span class="off">.</span><span class="on">&gt;</span></li>
	        <li [ngClass]="{'active':keyValue==='?'}" class="symbol" (click)="writeText('/')"><span class="off">/</span><span class="on">?</span></li>
	        <li class="right-shift lastitem">shift</li>
	        <li class="space lastitem">&nbsp;</li>
	    </ul>
	    <div class="clearfix"></div>
    </div>
</div>