header.home{padding:2px 0;}
.home h1{color:#1c1cec;margin:0;}
.typing{text-align: center;}
.maria-holder{padding-top:35px;}
.maria-holder img{
    width: 100%;
    height: max-content;
}
.nach-holder{padding-top:45px;}
.nach-holder p{font-size:12px;color:#1c1cec;line-height: normal;margin-top:19px;}
.last-buttons{margin-top:50px;margin-bottom: 5px;}
.head-sec-btn{margin-top:100px;}