<header class="home">
  <div class="container-fluid">
    <h1 class="text-center">MM-Schreibtrainer</h1>
    <div class="row">
      <div class="col-sm-4 text-left typing maria-holder">
        <div class="maria-text">
          <p>
            <span>{{mariaText}}</span>
          </p>
        </div>
        <img src="../assets/images/maria.png">
      </div>
      <div class="col-sm-4 text-center">

        <div class="book-dropdown">
          <button class="btn btn-top-bright" (click)="showBookDropDown()">
            <span *ngIf="!showAllBooks">Alle Bucher zeigen</span>
            <!-- Show All books -->
            <span *ngIf="showAllBooks">Nur mein Buch anzeigen</span>
            <!-- Just show my book -->
          </button>
          <ul>
            <li *ngFor="let b of copyBooks;let a=index" [ngClass]="{'active':showAllBooks,'first-active' : (a===currentBookIndex),'hide':(a>=5 && a!=currentBookIndex && !showAllBooks)}">
              <button class="btn btn-top" (click)="findLession(b.id,a)">{{b.name}}</button>
              <span class="book-desc">{{b.desc}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 typing  nach-holder">
        <img src="../assets/images/12.gif">
        <div class="nach-text-holder">
          <p class="text-center">Meine bisherigen Arbeiten:</p>
          <p class="text-center"> sortiert nach</p>
        </div>
        <div class="text-center nach-buttons-group">
          <a href="http://mms.pphlinz.at/mms_get_protokoll.php?flag=get_prot&st_lfdnr=910&reihg_flag=0" target="_blank" class="btn btn-default">
            Datum
          </a>
          <a href="http://mms.pphlinz.at/mms_get_protokoll.php?flag=get_prot&st_lfdnr=910&reihg_flag=1" target="_blank" class="btn btn-default">
            Ubgs-Nr .
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid container5">
  <div *ngIf="!pageContent">
    <div class="row box-titles">
      <div class="col-sm-4 text-right">
        <h3>Auswahl der Lektion :</h3>
      </div>
      <div class="col-sm-6 text-right">
        <h3>Aushwal der Ubung:</h3>
      </div>
      <div class="col-sm-2"></div>
    </div>
   
    <div class="row">
      <div class="col-md-3">
        <ul class="main-page-list">
          <ng-container *ngFor="let t of createArrayRange(lessions,0);let a=index">
            <li (click)="findTitle(t.id,a)" [ngClass]="{'active':currentLession==a}">
              <span class="red"></span>
              <span class="text-span">{{'L'+(a+1)+': '+t.name}}</span>
              <span class="percent-indicator" [ngStyle]="{'width':t.percent+'%'}"></span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="main-page-list">
          <ng-container *ngFor="let t of createArrayRange(lessions,1);let a=index">
            <li (click)="findTitle(t.id,(12+a))" [ngClass]="{'active':currentLession==(12+a)}">
              <span class="red"></span>
              <span class="text-span">{{'L'+(12+a+1)+': '+t.name}}</span>
              <span class="percent-indicator" [ngStyle]="{'width':t.percent+'%'}"></span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-3" *ngFor="let i of totalTitlesPage;let p=index">
        <ul class="main-page-list title-list">
          <ng-container *ngFor="let t of createArrayRange(titles,i);let a=index">
            <li *ngIf="(a+1)<=((p+1)*12)" [routerLink]="['/exercise', ((p*12)+a)]" [ngClass]="{'no-exercise':t.mode==0}">
              <span class="red">{{t.mode}}</span>
              <span class="text-span">{{'Ü'+((p*12)+a+1)+': '+t.name}}</span>
              <span class="percent-indicator" [ngClass]="{'blue-zone':t.grayPercent<60,'yellow-zone':(t.grayPercent>=60 && t.grayPercent<100),'red-zone':(t.grayPercent>=100)}"
                [ngStyle]="{'width':t.percent+'%'}"></span>
              <span class="gray-percent" [ngStyle]="{'width':t.grayPercent+'%'}"></span>
              <span class="yellow-percent" [ngStyle]="{'width':t.yellowPercent+'%'}"></span>
              <span class="three-params" *ngIf="t.mode>0">
                <span>{{t.percent}}% R</span>
                <span>{{t.grayPercent}} A</span>
                <span>{{t.yellowPercent}} T</span>
              </span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="last-buttons-wrapper">
      <div class="row last-buttons">
        <div class="col-sm-6 text-left">
          <a class="btn rounded-button" href="http://mms.pphlinz.at/lektionen/default.php" target="_blank" style="position: relative;top:1px;">Lehrer</a>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn rounded-button" *ngIf="betterExercises" (click)="showSaveExercise(true)">Speichern</button>
          <a class="btn rounded-button" *ngIf="totalTitlesPage" style="margin-right:20px;" routerLink="/gallery">Album</a>
          <button class="btn rounded-button" (click)="showColorInfo()">Balkeninfo</button>
          <a class="btn btn-default m-l-10 margin-left-10" routerLink="/module" style="position:relative;top:-4px;">I</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pageContent" class="page-content" [innerHTML]="pageContent">

  </div>

</div>
<div class="sign-color-info" *ngIf="colorInfo">
  <h3>Zeichen-und farbenerklarung</h3>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <b>Fehlerfreiheit</b>
      </p>
      <p>
        <b>(grober Balken)</b>
      </p>
      <p>dies ist die wichtigset</p>
      <p>Zahl: bester</p>
      <p>Wert=100%</p>
    </div>
    <div class="col-sm-6">
      <p>
        <b>Geschwindigkeit:</b>
      </p>
      <p>optimaler Wert=200 A.</p>
      <p>(Anschlage/Min)</p>
    </div>
  </div>
  <div class="direction-button">
    <span class="top-left-dir"></span>
    <span class="top-right-dir"></span>
    <button class="btn-direction">
      <span>4</span>
      <span> Diktat 2 Grundreihe</span>
    </button>
    <span class="bottom-left-dir"></span>
    <span class="bottom-right-dir"></span>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <b>Anzahl der Wiederholungen:</b>
      </p>
      <p> wie oft wurde diese Übung</p>
      <p>bereits durchgefuhrt!</p>
    </div>
    <div class="col-sm-6">
      <p>
        <b>Taktschreiben:</b>
      </p>
      <p>zweitwichtigster Wert</p>
      <p>bester Wert=100 Pkt</p>
    </div>
  </div>
  <div class="wertz-wrapper text-left">
    <p>
      <b>Wertungsfarben und -stufe:</b>1.Leistungesstufef</p>
    <ul class="color-indicator-info">
      <li>
        <span class="color-box" [style.background]="'#0000FF'"></span> Farbe blau: 0 bis 30 Anschläge/Minute </li>
      <li>
        <span class="color-box" [style.background]="'#ffff00'"></span> Farbe gelb : 30 bis 60 Anschlage/Minute</li>
      <li>
        <span class="color-box" [style.background]="'#ff0000'"></span> Farbe rot: mehr als 60 Anschlage/Minute</li>
    </ul>
    <button class="btn rounded-button pull-right" (click)="showColorInfo()">Schlieben</button>
  </div>
</div>

<div class="save-exercises" id="print-section" *ngIf="showSaveExercisePopup">
  <h3>Bericht - Lektion: L1: Grundreihe linke Hand (S 7)</h3>
  <div class="row">
    <div class="col-sm-4 text-left">
      <h3>{{currentDate}}</h3>
    </div>
    <div class="col-sm-4 text-center">
      <h3>Anschlage</h3>
    </div>
    <div class="col-sm-4">
      <h3>Anschlage</h3>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table save-exercise-table">
      <thead>
        <tr>
          <th style="width:25%;">Ubung</th>
          <th>ges.</th>
          <th>richtig</th>
          <th>falsch</th>
          <th>Proz.</th>
          <th>Sek.</th>
          <th>Takt</th>
          <th>Pro</th>
          <th>Min</th>
        </tr>
      </thead>
      <tbody>
        <tr ngFor="let ex of betterExercises">
          <td>{{ex.name}}</td>
          <td>39</td>
          <td>39</td>
          <td>0</td>
          <td>{{ex.percent}}%</td>
          <td>7</td>
          <td>42</td>
          <td>{{ex.grayPercent}}</td>
          <td>
            <input type="checkbox" checked>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="save-exercise-image text-left">
    <img src="../assets/images/save-exercise-cartoon.png" alt="">
  </div>
  <div class="last-paragraph">
    <h4 class="text-center">Du solltest  deine GUTEN Ergebnisse immer  mit "Speichern" absenden!</h4>
    <h4 class="text-center" style="margin-bottom:10px;">Alle Ubungen, die ein rotes Hakerl  besitzen, werden gespeichert.</h4>
  </div>
  <div class="row save-exercise-btns">
    <div class="col-sm-3">
      <button class="btn rounded-button" (click)="showSaveExercise(false)">Abberechen</button>
    </div>
    <div class="col-sm-3">
        <button class="btn rounded-button" (click)="discardResult()">Ergebnis verwerfen</button>
    </div>
    <div class="col-sm-3">
        <button class="btn rounded-button" (click)="printResult()">Drucken</button>
    </div>
    <div class="col-sm-3">
        <button class="btn rounded-button" (click)="saveResult()">Speichern</button>
    </div>
  </div>
</div>